<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
</head>
<body>
    <h1>403 Forbidden</h1>
    <p>Access Denied.</p>
    <!-- Ajoutez tout autre contenu personnalisé ici -->
</body>
</html>
