<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ status_code }} {{ 'Internal Server Error' }}</title>
</head>
<body>
    <h1>{{ status_code }} {{ 'Internal Server Error' }}</h1>
    <p>Oops! Something went wrong.</p>
    <!-- Ajoutez tout autre contenu générique pour les erreurs ici -->
</body>
</html>
