{% extends 'base.html.twig' %}




{% block content %}
    <div class="col-12">
            <div class="card my-4">
                {{ form_start(form) }}
                    
                {{ form_end(form) }}
            </div>
            
            

         

{% endblock %}